.gameText {
  border: 3px solid #a2e6f1;
  border-radius: 5px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: cursive;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
}